.greetingForm {

}

.inputAndButtonContainer {
    display: flex;
}

.error {
}

.input {
    outline: none;
    border: 1px solid red;
    border-radius: 5px;
}

.input:focus {
}

.errorInput {
    outline: none;
    border: 1px solid cadetblue;
    border-radius: 5px;
}

.button {
}

.button:focus {
}

.button:active {
}

.button:disabled {
}

.text {
}

.greeting {
}
